@import 'preboot.less';
html,body{
    color: #eee;
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.interface {
    width:380px;
    float:left;
    color:#000;
}
.interface #tab-content {
    .border-bottom-radius( 5px );
    .border-right-radius( 5px );
    .box-shadow(0 0 10px rgba(0,0,0,.25));
    #gradient > .vertical( #efeffa, #dedede );
}
.nav-tabs > li.active > a,.nav-tabs > li:hover > a {
    #gradient > .vertical( #dedeea, #efeffa );
}
.nav-tabs > li > a {
    #gradient > .vertical( #efefff, #e2e2ea );
    color:#555555;
}
.interface .row {
    padding: 7px;
}
.interface .wrow {
    margin-top: 14px;
}
.col { 
    float:left;
}
.col-6 {
    width:60%;
}
.col-5 {
    width:50%;
}
.col-4 {
    width:40%;
}
.col-3 {
    width:33%;
}
.tab-pane {
    margin-left: 30px;
    width:320px;
    padding: 10px 0 20px 10px;
}
form .lab {
    margin-top: 5px;
    width:140px;
}
.small-lab {
    width:110px;
}
.tiny-lab {
    width:70px;
}
#imageButton {
    margin-left: 20px;
}
.dhtmlxcolorpicker input.cs_Hex_MiniX, .dhtmlxcolorpicker input.cs_Input_MiniX {
    height:15px;
    line-height:12px;
}
.dhtmlxcolorpicker .cs_ButtonOk, .dhtmlxcolorpicker .cs_ButtonCancel, 
.dhtmlxcolorpicker .cs_ButtonOk_Hover, .dhtmlxcolorpicker .cs_ButtonCancel_Hover {
    line-height: 16px;
}
.cHolder {
    border: 1px solid #ddd;
    margin-right: 4px;
    width: 45px;
    height: 45px;
}
.form .row {
    margin-bottom: 3px;
}
.canvasContainer {
    margin-right: 80px;
}
#myCanvas:active, #myCanvas:focus {
    cursor:pointer;
}
.row {
    border-bottom: 1px solid #fff;
}
.row.last {
    border-bottom: none;
    margin-bottom: 0;
}
#tabs {
    border-bottom: none;
}
.corner{
    position: absolute;
    top: 3px;
    left: 5px;
}
.corner row {
    position: relative;
}
#cpc-bodybg {
    position: absolute;
    top:40px;
    left:10px;
}
.butn {
    cursor: pointer;
    width: 33px;
    height: 43px;
}
#btn-first {
    background-image: url('../img/pan/first.png');
}
#btn-prev {
    background-image: url('../img/pan/prev.png');
}
#btn-next {
    background-image: url('../img/pan/next.png');
}
#btn-last {
    background-image: url('../img/pan/last.png');
}
#addObject {
    margin-left: 10px;
}
.clear-scene {
    margin-left: 18px;
}