        <!--div class="row">
          <div class="col-xs-5 label">Highlight Curve</div>
          <div class="col-xs-7">
            <input type="checkbox" ng-change="highlightCurveChange()" ng-model="highlightCurve">
          </div>
        </div-->
        <div class="row combined">
          <div class="col-xs-5 label tall-label2">Background</div>
          <div class="col-xs-7">
            <div class="left label tall-label2">Color:</div>
            <div id="bg-color" class="cHolder left"></div>
            <div class="label tall-label2 left ml-20">Alpha</div>
            <div class="left ml-10 tall-label2">
              <input class="form-field" size="2" scene-element="backgroundAlpha"
                   ng-focus="fieldFocus()" ng-enter="blurField(event)" ng-blur="unfocus();"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <div id="cpc-bg" class="cpc" style="display:none">
            </div>&nbsp;
          </div>
          <div class="col-xs-7">
            <select ng-options="image.id as image.label for image in getImageList()" ng-model="selectedBackground" ng-change="updateBackground(selectedBackground);" convert-to-number>
              <option value="">Select Background Image</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5 label tall-label">Line Color</div>
          <div class="col-xs-7">
            <div id="scene-line-color" class="cHolder left"></div>
            <div id="cpc-scene-line" class="cpc clearfix left mt-10" style="display:none"></div>
            &nbsp;
          </div>
        </div>

          <!--div class="row">
            <div class="col-xs-5 label">Highlight Curve</div>
            <div class="col-xs-7">
              <input type="checkbox" ng-change="highlightCurveChange()" ng-model="highlightCurve">
            </div>
          </div-->

        <div class="row last">
          <span class="col-xs-5 label mt-0">Layer Composition</span>
          <div class="col-xs-7">
            <select ng-change="updateCompositionMode()" ng-model="sourceMode" ng-options="sources[key] for key in sourceKeys">
            </select>
          </div>
        </div>