              <div class="row">
                <button type="button" class="btn btn-default load-sample" data="1">Load Sample Scene</button>
                <button type="button" class="btn btn-default clear-scene" data="1">Clear Scene</button>
              </div>
              <div class="row">
                <textarea class="form-field" id="data-json-text" rows="8" cols="57"></textarea>
              </div>
              <div class="row">
                <div class="btn btn-default" id="load-data">Load</div>
                <div class="btn btn-default" id="get-data">Get Load Script</div>
              </div>
              <div class="row">
                <div class="medium-lab">Background Image Source</div>
                <input type="text" name="backgroundImageSource" id="backgroundImageSource" placeholder="http://example.com/doge.png" value="" size="55"></input>
                <!--div class="col medium-lab">Background Image Label (optional)</div>
                <input class="form-field" type="text" name="backgroundImageLabel" id="backgroundImageLabel" placeholder="Doge"  value="" size="40"></input-->
                <div class="medium-lab">Background Image Page (optional)</div>
                <input class="form-field" type="text" name="backgroundImagePage" id="backgroundImagePage" placeholder="http://example.com" size="55"></input>
              </div>
              <div class="row">
                <div class="medium-lab">Fill Image Source</div>
                <input type="text" name="fillImageSource" id="fillImageSource" placeholder="http://example.com/fractal_texture.png" value="" size="55"></input>
                <!--div class="col medium-lab">Fill Image Label (optional)</div>
                <input class="form-field" type="text" name="fillImageLabel" id="fillImageLabel" placeholder="Fractal Texture" value="" size="40"></input-->
                <div class="col medium-lab">Fill Image Page (optional)</div>
                <input class="form-field" type="text" name="fillImagePage" id="fillImagePage" placeholder="http://example.com" value="" size="55"></input>
              </div>