              <div ng-init="initAnimationTab()" class="tab-pane active">
                <div class="row">
                  <div class="btn btn-default stop">Stop</div>
                  <!--div class="btn btn-default" id="playSegment">Play Segment</div-->
                  <div class="btn btn-default playAll">Play All</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 small-lab tall-row">Object</div>
                  <div class="col-xs-8 input-group">
                    <div class="btn-group object" data-toggle="buttons">
                      <div class="btn btn-default" data="1">1</div>
                      <div class="btn btn-default" data="2">2</div>
                      <div class="btn btn-default" data="3">3</div>
                      <div class="btn btn-default" data="4">4</div>
                    </div>
                    <div class="btn btn-default addObject"> + </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 small-lab tall-row">Segment</div>
                  <div class="col-xs-8 segment-selector">
                    <div class="butn" id="btn-first"></div>
                    <div class="butn" id="btn-prev"></div>
                    <div class="tall-row left" id="segmentId" style="margin:6px 11px 11px;">&nbsp;0&nbsp;</div>
                    <div class="butn" id="btn-next"></div>
                    <div class="butn" id="btn-last"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="btn btn-default" id="removeSegment">Remove Keyframe</div>
                  <div class="btn btn-default" id="removeLast">Remove Last Keyframe</div>
                </div>
                <div class="row">
                  <div class="col-xs-6 lab">Seamless Animation</div>
                  <div class="col-xs-6">
                    <input type="checkbox" checked name="seamless" id="seamless">
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-4 small-lab tall-row">Edit Mode</div>
                  <div class="col-xs-8 input-group">
                    <div class="btn-group edit-mode" data-toggle="buttons">
                        <div type="button" class="btn btn-default active" id="edit-shape">Shape</div>
                        <div type="button" class="btn btn-default" id="edit-transform">Transform</div>
                        <div type="button" class="btn btn-default" id="edit-none">None</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 small-lab">Length(sec)</div>
                  <div class="col-xs-7">
                    <input class="form-field" type="text" name="length" id="length" value="1.0" size="5"></input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 small-lab">Rotation</div>
                  <div class="col-xs-7">
                    <input class="form-field" type="text" name="rotation" id="rotation" value="0.0" size="5"></input>
                  </div>
                </div>
                <div class="row last">
                  <span class="large-lab">GIF functionality is WIP</span> <span class="col large-lab"><i>Firefox & server local image fills only</i></span>
                  <div class="clearfix"></div>
                  <div class="btn btn-default" id="makeGIF">Gif</div>
                </div>
              </div>