      <div class="row combined">
          <textarea class="form-field" rows="8" cols="50" ng-model="fieldData" ng-focus="fieldFocus()" ng-blur="unfocus();"></textarea>
        </div>
        <div class="row">
          <div class="btn btn-default ml-20" ng-click="loadPatch()">Load Patch</div>
          <div class="btn btn-default ml-10"  ng-click="getPatchData()">Get Patch</div>
        </div>
        <div class="row">
          <!--              -->
          <div class="col-xs-5">
            <select class="label" ng-options="image.id as image.label for image in imageList" ng-model="selectedRemovalImage">
              <option value="">Select Image to Remove</option>
            </select>
          </div>
          <div class="col-xs-5">
            <div class="btn btn-default ml-20" ng-click="removeImage()">Remove Image</div>
          </div>
        </div>
        <div class="row last">
          <div class="label">Add Image </div>
          <input type="text" ng-model="newImageUrl" ng-focus="fieldFocus()" ng-blur="unfocus()"
          placeholder="http://freestockanimals.com/assets/images/doge.png" value="" size="45"/>
          <div class="label">Source Page</div>
          <input class="form-field" type="text" ng-model="newImagePage" ng-focus="fieldFocus()" ng-blur="unfocus()"
                 placeholder="http://freestockanimals.com/cat-page" size="45"/>
          <div class="label">Image Label</div>
          <input class="form-field" type="text" ng-model="newImageLabel" ng-focus="fieldFocus()" ng-blur="unfocus()"
                 placeholder="green cat" size="45"/>
          <div class="btn btn-default ml-20"  class="grp" ng-click="addImage();">Add Image</div>
        </div>