      <div class="row pt-0">
        <div class="col-xs-5 label mt-0">Change Object Type</div>
        <div class="col-xs-7">
          <select ng-options="k as v for (k, v) in objectTypes" ng-model="selectedObjectType" ng-change="changeObjectType()"></select>
        </div>
      </div>
      <div class="row" ng-repeat="(attributeName, attribute) in kit.getSelectedObject().uiTranslators | objectFilter: 'display'">
        <div class="col-xs-5 label"> {{attribute.label}} </div>
        <div ng-if="attribute.type == 0" class="col-xs-7">
          <input class="form-field" type="text" size="6" object-element="{{attributeName}}" ng-enter="blurField(event)" ng-focus="fieldFocus()" ng-blur="unfocus();">
        </div>
        <div ng-if="attribute.type == 1 && attribute.constraint ===0" class="col-xs-7">
          <input class="form-field" type="text" size="24" object-element="{{attributeName}}" ng-enter="blurField(event)" ng-focus="fieldFocus()" ng-blur="unfocus();">
        </div>
        <div ng-if="attribute.type == 1 && attribute.constraint ===1" class="col-xs-7">
          <select object-element="{{attributeName}}">
            <option ng-repeat="option in attribute.possibleValues" class="cap" value="{{option}}">{{option}}</option>
          </select>
        </div>
      </div>


      <div class="row combined">
        <div class="col-xs-5 label tall-label">Line Color&nbsp;</div>
        <div class="col-xs-7">
          <div id="object-line-color" class="cHolder left"></div>
          <div id="cpc-object-line" class="cpc left mt-10" style="display:none"></div>
        </div>
      </div>
      <div class="row" ng-if="kit.getSelectedObject().type !== 'textLayer'" >
        <div class="col-xs-5 label tall-label">&nbsp;</div>
        <div class="col-xs-7">
          <select ng-options="image.id as image.label for image in getImageList()" ng-model="selectedFill" ng-change="updateFill();" convert-to-number>
            <option value="">Select Fill Image</option>
          </select>
        </div>
      </div>

      <div class="row m-0" ng-if="kit.getSelectedObject().type === 'textLayer'" ></div>

      <div class="row last">
        <div class="col-xs-12">
          <div ng-click="removeObject()" class="btn btn-default" id="removeObject">Remove Selected Object</div>
          <div ng-click="getImage()" class="btn btn-default ml-20" id="getImage">Get Image</div>
          <div class="ml-10 q i-b mt-15" title="Get Image fails when using external images"> ? </div>
        </div>
      </div>