  <div class="col-xs-12 col-sm-6 sidebar-offcanvas interface" id="sidebar">
    <ul class="nav nav-tabs">
      <li ng-model="panelTab" ng-click="setPanel('1')" ng-class="isPanelActive('1')"><a>State</a></li>
      <li ng-model="panelTab" ng-click="setPanel('2')" ng-class="isPanelActive('2')"><a>Animation</a></li>
      <li ng-model="panelTab" ng-click="setPanel('3')" ng-class="isPanelActive('3')"><a>Loading</a></li>
    </ul>
    <div class="tab-content">
      <div ng-class="isPanelActive('1')" class="tab-pane" data-shape-panel ng-init="initializeUI()"></div>
      <div ng-class="isPanelActive('2')" class="tab-pane" data-animation-panel></div>
      <div ng-class="isPanelActive('3')" class="tab-pane" data-loading-panel></div>
    </div>
  </div>
