        <div class="row">
          <div class="col-xs-5">
            <div ng-click="loadSample()" class="btn btn-default">Load Sample Scene</div>
          </div>
          <div class="col-xs-7">
            <div ng-click="clearScene()" class="btn btn-default">Clear Scene</div>
          </div>
        </div>
        <div class="row">
          <textarea class="form-field" rows="8" cols="55" ng-model="fieldData" ng-focus="fieldFocus()" ng-blur="unfocus();"></textarea>
          <div class="col-xs-5">
            <div ng-click="loadData()" class="btn btn-default">Load</div>
          </div>
          <div class="col-xs-7">
            <div ng-click="getLoadData()" class="btn btn-default">Get Load Data</div>
          </div>
        </div>
        <div class="row">
          <div class="medium-lab">Background Image Source</div>
          <input type="text" name="backgroundImageSource" ng-model="backgroundImageSource" ng-focus="fieldFocus()" ng-blur="backgroundImageSourceChange()"
          placeholder="http://example.com/doge.png" value="" size="54"></input>
          <div class="medium-lab">Background Image Page (optional)</div>
          <input class="form-field" type="text" name="backgroundImagePage" ng-model="backgroundImagePage" ng-focus="fieldFocus()" ng-change="backgroundImagePageChange()" ng-blur="unfocus()" 
                 placeholder="http://example.com" size="54"></input>
        </div>
        <div class="row last">
          <div class="medium-lab">Fill Image Source</div>
          <input type="text" ng-model="fillImageSource" ng-focus="fieldFocus()" ng-blur="fillImageSourceChange()" 
                 placeholder="http://example.com/fractal_texture.png" value="" size="54"></input>
          <div class="col medium-lab">Fill Image Page (optional)</div>
          <input class="form-field" type="text" ng-model="fillImagePage" ng-focus="fieldFocus()" ng-change="fillImagePageChange()" ng-blur="unfocus()" 
                 placeholder="http://example.com" value="" size="54"></input>
        </div>