        <div class="row">
          <div ng-click="stop()" class="btn btn-default">Stop</div>
          <!--div class="btn btn-default" id="playSegment">Play Segment</div-->
          <div ng-click="play()" class="btn btn-default">Play All</div>
        </div>
        <div class="row">
          <div class="col-xs-4 medium-label label">Object</div>
          <div class="col-xs-8 input-group">
            <div class="btn-group object">
              <div ng-model="objectSelector" ng-click="selectObject(0)" class="btn btn-default" ng-class="objectSelectorClasses(0)" btn-radio="0">1</div>
              <div ng-model="objectSelector" ng-click="selectObject(1)" class="btn btn-default" ng-class="objectSelectorClasses(1)" btn-radio="1">2</div>
              <div ng-model="objectSelector" ng-click="selectObject(2)" class="btn btn-default" ng-class="objectSelectorClasses(2)" btn-radio="2">3</div>
              <div ng-model="objectSelector" ng-click="selectObject(3)" class="btn btn-default" ng-class="objectSelectorClasses(3)" btn-radio="3">4</div>
            </div>
            <div ng-click="addObject()" ng-class="maxObjects()" class="btn btn-default"> + </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 label"> Petal Count</div>
          <div class="col-xs-7">
            <input class="form-field" type="text" size="1" ng-model="petalCount" ng-change="petalChange()" ng-blur="unfocus()" ng-focus="fieldFocus()">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 label">Radial Accent</div>
          <div class="col-xs-7">
            <input class="form-field" type="text" size="2" ng-model="radialAccent" ng-change="radialChange()" ng-blur="unfocus()" ng-focus="fieldFocus()">
            <small class="label">0&lt;<b>Accent</b>&lt;Petals</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 label tall-label">Background Color</div>
          <div class="col-xs-2">
            <div id="bg-color" class="cHolder"></div>
          </div>
          <div class="col-xs-2 tall-label">
            <div class="label">Alpha</div>
          </div>
          <div class="col-xs-1 tall-label2">
              <input class="form-field" size="2" ng-model="backgroundAlpha" ng-value="{{backgroundAlpha}}" 
                   ng-focus="fieldFocus()" ng-blur="backgroundAlphaChange()"></input>
          </div>
        </div>
        <div id="cpc-bg" class="row cpc" style="display:none">
        </div>  
        <div class="row">              
          <div class="col-xs-5 label tall-label">Line Color&nbsp;</div>
          <div class="col-xs-7">
            <div id="line-color" class="cHolder"></div>
          </div>              
        </div> 
        <div class="row">
          <span class="col-xs-5 label medium-label">Composition Mode </span>
          <div class="col-xs-7">
            <select class="form-control" ng-change="updateCompositionMode()" ng-model="sourceMode" ng-options="sources[key] for key in sourceKeys">
            </select>
          </div>
        </div>
        <div id="cpc-line" class="row cpc" style="display:none">
        </div>  
        <div class="row">
          <div class="col-xs-5">
            <div ng-click="removeObject()" class="btn btn-default" id="removeObject">Remove Object</div>
          </div>
          <div class="col-xs-7">
            <div ng-click="getImage()" class="btn btn-default">Get Image</div>
          </div>
        </div>
        <div class="row last">
          <div class="col-xs-5">
            <div ng-click="loadSample()" class="btn btn-default">Load Sample Scene</div>
          </div>
          <div class="col-xs-7">
            <div ng-click="clearScene()" class="btn btn-default">Clear Scene</div>
          </div>
        </div>