<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-6">
 
    <!--div class="console" style="color: black;"class="jumbotron" display="none" ng-controller="ConsoleController as CC" ng-show="CC.debugMode" >
      <span>Canvas Testing Console : {{CC.debugMode}}</span>
      <span id="console"></span>
    </div-->
    <div class="content">
      <!--div ng-controller="SceneController as Scene" class="col canvasContainer" ng-show="Scene.canvasLoaded"-->
        <canvas id="canvas" width="500" height="500"></canvas>
      <!--/div-->
    </div>
  </div>
  <div data-interface-menu></div>
</div>
<div class="corner">
  <div id="bodybg-color" class="cHolder"></div>
  <div id="bodybg-color-cp" class="cp"></div>
  <div id="cpc-bodybg" class="cpc" style="display:none">
  </div> 
</div>

<footer>
  <a href="https://github.com/thebarry/canvas-tools/">Canvas Tools - Github Page </a>
</footer>
