  <div class="col-xs-12 col-sm-6 sidebar-offcanvas interface" id="sidebar">
    <ul class="nav nav-tabs">
      <li ng-model="panelTab" btn-radio="'1'"><a>State</a></li>
      <li ng-model="panelTab" btn-radio="'2'"><a>Animation</a></li>
      <li ng-model="panelTab" btn-radio="'3'"><a>Loading</a></li>
    </ul>
  	<div class="tab-content">
      <div ng-class="isPanelActive('1')" class="tab-pane">
        <div class="row">
          <div ng-click="stop()" class="btn btn-default">Stop</div>
          <!--div class="btn btn-default" id="playSegment">Play Segment</div-->
          <div ng-click="play()" class="btn btn-default">Play All</div>
        </div>
        <div class="row">
          <div class="col-xs-4 small-lab tall-row">Object</div>
          <div class="col-xs-8 input-group">
            <div class="btn-group object">
              <div ng-model="objectSelector" ng-click="selectObject(0)" class="btn btn-default" ng-class="objectSelectorClasses(0)" btn-radio="0">1</div>
              <div ng-model="objectSelector" ng-click="selectObject(1)" class="btn btn-default" ng-class="objectSelectorClasses(1)" btn-radio="1">2</div>
              <div ng-model="objectSelector" ng-click="selectObject(2)" class="btn btn-default" ng-class="objectSelectorClasses(2)" btn-radio="2">3</div>
              <div ng-model="objectSelector" ng-click="selectObject(3)" class="btn btn-default" ng-class="objectSelectorClasses(3)" btn-radio="3">4</div>
            </div>
            <div ng-click="addObject()" ng-class="maxObjects()" class="btn btn-default"> + </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 lab">
            Petal Count&nbsp;
          </div>
          <div class="col-xs-7">
            <input class="form-field" type="text" size="1" ng-model="petalCount" ng-change="petalChange()" ng-blur="unfocus()" ng-focus="fieldFocus()">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 lab">
            Radial Accent &nbsp;
          </div>
          <div class="col-xs-7">
            <input class="form-field" type="text" size="2" ng-model="radialAccent" ng-change="radialChange()" ng-blur="unfocus()" ng-focus="fieldFocus()">
            <small class="lab">0&lt;<b>Accent</b>&lt;Petals</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 lab">Background Color</div>
          <div class="col-xs-7">
            <div id="bg-color" class="cHolder"></div>
            <!--span class="lab">Alpha:</span> 
            <input class="form-field" id="bgAlpha" name="bgAlpha" value="1.00" size="1"></input-->
          </div>
        </div>
        <div id="cpc-bg" class="row cpc" style="display:none">
        </div>  
        <div class="row">              
          <div class="col-xs-5 lab">
            Line Color&nbsp;
          </div>
          <div class="col-xs-7">
            <div id="line-color" class="cHolder"></div>
          </div>              
        </div> 
        <div class="row">
          <span class="col-xs-5 lab"> Composition Mode </span>
          <div class="col-xs-7">
            <select class="form-control" id="sourceMode"></select>
          </div>
        </div>
        <div id="cpc-line" class="row cpc" style="display:none">
        </div>  
        <!--div class="row">
          <div class="col-xs-7 lab">Highlight Edit Curve</div>
          <div class="col-xs-5">
            <input type="checkbox" name="shapeColor" id="shapeColor">
          </div>
        </div-->
        <div class="row">
          <div ng-click="removeObject()" class="btn btn-default" id="removeObject">Remove Object</div>
          <div ng-click="getImage()" class="btn btn-default" id="imageButton">Get Image</div>
        </div>
        <div class="row last">
          <button ng-click="loadSample()" type="button" class="btn btn-default">Load Sample Scene</button>
          <button ng-click="clearScene()" type="button" class="btn btn-default">Clear Scene</button>
        </div>
      </div>

      <div ng-class="isPanelActive('2')" class="tab-pane">
        <div class="row">
          <div ng-click="stop()" class="btn btn-default">Stop</div>
          <!--div class="btn btn-default" id="playSegment">Play Segment</div-->
          <div ng-click="play()" class="btn btn-default">Play All</div>
        </div>
        <div class="row">
          <div class="col-xs-4 small-lab tall-row">Object</div>
          <div class="col-xs-8 input-group">
            <div class="btn-group object">
              <div ng-model="objectSelector" ng-click="selectObject(0)" class="btn btn-default" ng-class="objectSelectorClasses(0)" btn-radio="0">1</div>
              <div ng-model="objectSelector" ng-click="selectObject(1)" class="btn btn-default" ng-class="objectSelectorClasses(1)" btn-radio="1">2</div>
              <div ng-model="objectSelector" ng-click="selectObject(2)" class="btn btn-default" ng-class="objectSelectorClasses(2)" btn-radio="2">3</div>
              <div ng-model="objectSelector" ng-click="selectObject(3)" class="btn btn-default" ng-class="objectSelectorClasses(3)" btn-radio="3">4</div>
            </div>
            <div ng-click="addObject()" ng-class="maxObjects()" class="btn btn-default"> + </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 small-lab tall-row">Segment</div>
          <div class="col-xs-8 segment-selector">
            <div ng-click="selectFirst()" class="butn" id="btn-first"></div>
            <div ng-click="selectPrev()" class="butn" id="btn-prev"></div>
            <div class="tall-row left" id="segmentId" style="margin:6px 11px 11px;">{{(kit.segment+kit.keyFrames.length)%kit.keyFrames.length}}</div>
            <div ng-click="selectNext()" class="butn" id="btn-next"></div>
            <div ng-click="selectLast()" class="butn" id="btn-last"></div>
          </div>
        </div>
        <div class="row">
          <div ng-click="removeKeyframe()" class="btn btn-default" id="removeSegment">Remove Keyframe</div>
          <div ng-click="removeLast()" class="btn btn-default" id="removeLast">Remove Last Keyframe</div>
        </div>
        <!--div class="row">
          <div class="col-xs-6 lab">Seamless Animation</div>
          <div class="col-xs-6">
            <input type="checkbox" checked name="seamless" id="seamless">
          </div>
        </div-->
        
        <div class="row">
          <div class="col-xs-4 small-lab tall-row">Edit Mode</div>
          <div class="col-xs-8 input-group">
            <div class="btn-group edit-mode" data-toggle="buttons">
              <div ng-click="setEditMode(0)" ng-model="editMode" class="btn btn-default" ng-class="editSelectorClasses(0)" btn-radio="0" id="edit-shape">Shape</div>
              <div ng-click="setEditMode(1)" ng-model="editMode" class="btn btn-default" ng-class="editSelectorClasses(1)" btn-radio="1" id="edit-transform">Transform</div>
              <div ng-click="setEditMode(2)" ng-model="editMode" class="btn btn-default" ng-class="editSelectorClasses(2)" btn-radio="2">None</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 small-lab">Length(sec)</div>
          <div class="col-xs-7">
            <input class="form-field" type="text" name="length" id="length" ng-model="length" ng-change="lengthChange()" ng-blur="unfocus()" ng-focus="fieldFocus()" size="5"></input>
          </div>
        </div>
        <div class="row last">
          <div class="col-xs-5 small-lab">Rotation</div>
          <div class="col-xs-7">
            <input class="form-field" type="text" name="rotation" id="rotation" ng-model="rotation" ng-change="rotationChange()" ng-blur="unfocus()" ng-focus="fieldFocus()" size="5"></input>
          </div>
        </div>
        <!--div class="row last">
          <span class="large-lab">GIF functionality is WIP</span> <span class="col large-lab"><i>Firefox & server local image fills only</i></span>
          <div class="clearfix"></div>
          <div class="btn btn-default" id="makeGIF">Gif</div>
        </div-->
      </div>

    <div ng-class="isPanelActive('3')" class="tab-pane">
      <div class="row">
        <button ng-click="loadSample()" type="button" class="btn btn-default">Load Sample Scene</button>
        <button ng-click="clearScene()" type="button" class="btn btn-default">Clear Scene</button>
      </div>
      <div class="row">
        <textarea class="form-field" rows="8" cols="42" ng-model="fieldData" ng-focus="fieldFocus()" ng-blur="unfocus();"></textarea>
      </div>
      <div class="row">
        <div ng-click="loadData()" class="btn btn-default">Load</div>
        <div ng-click="getLoadData()" class="btn btn-default">Get Load Data</div>
      </div>
      <div class="row">
        <div class="medium-lab">Background Image Source</div>
        <input type="text" name="backgroundImageSource" ng-model="backgroundImageSource" ng-focus="fieldFocus()" ng-blur="backgroundImageSourceChange()"
        placeholder="http://example.com/doge.png" value="" size="40"></input>
        <!--div class="col medium-lab">Background Image Label (optional)</div>
        <input class="form-field" type="text" name="backgroundImageLabel" id="backgroundImageLabel" placeholder="Doge"  value="" size="40"></input-->
        <div class="medium-lab">Background Image Page (optional)</div>
        <input class="form-field" type="text" name="backgroundImagePage" ng-model="backgroundImagePage" ng-focus="fieldFocus()" ng-change="backgroundImagePageChange()" ng-blur="unfocus()" 
               placeholder="http://example.com" size="40"></input>
      </div>
      <div class="row last">
        <div class="medium-lab">Fill Image Source</div>
        <input type="text" ng-model="fillImageSource" ng-focus="fieldFocus()" ng-blur="fillImageSourceChange()" 
               placeholder="http://example.com/fractal_texture.png" value="" size="40"></input>
        <!--div class="col medium-lab">Fill Image Label (optional)</div>
        <input class="form-field" type="text" name="fillImageLabel" id="fillImageLabel" placeholder="Fractal Texture" value="" size="40"></input-->
        <div class="col medium-lab">Fill Image Page (optional)</div>
        <input class="form-field" type="text" ng-model="fillImagePage" ng-focus="fieldFocus()" ng-change="fillImagePageChange()" ng-blur="unfocus()" 
               placeholder="http://example.com" value="" size="40"></input>
      </div>
    </div>

    </div>
  </div>
